body {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

h1, h2, h3, h4, h5, h6, {
    color: #222831;
    text-transform: none;
    font-family: 'Merriweather', serif;
}

h1 {
    text-align: center;
}

a{
    color: #0000FF !important;
}

p {
    margin-bottom: 30px;
}

a .d-block {
    color: #eeeeee; 
} 

.nav-link {
    color: #eeeeee !important;
}

.text-primary, .email {
    color: #d65a31 !important;
}

.bg-primary {
    background-color: #222831 !important;
}

.social-icons {
    color: #222831 !important;
}

.lead {
    text-align: center;
}

section.resume-section {
    min-height: unset;
}

.offset-sm-1 {
    margin-left: 5%;
}

.work-experience {
    color: #222831;
    margin-bottom: 15px;
}
